  .sectionSubtitle {
    color: #000;
    font-size: 1.75rem;
    font-family: 'Frutiger55';
    line-height: 1.75rem;
    letter-spacing: 0;
    margin: 0;

    @media (max-width: 40em) {
      font-size: .8rem;

    }
  }
