
.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@font-face {
  font-family: 'Frutiger75';
  src: local('Frutiger75'), url(./fonts/Frutiger75Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Frutiger65';
  src: local('Frutiger65'), url(./fonts/Frutiger65Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Frutiger55';
  src: local('Frutiger55'), url(./fonts/Frutiger55Roman.ttf) format('truetype');
}
@font-face {
  font-family: 'Frutiger45';
  src: local('Frutiger45'), url(./fonts/Frutiger45Light.ttf) format('truetype');
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

