.loginConatiner {
  padding: 5.5rem 7.5rem;

  @media (max-width: 40em) {
    padding: 1.5rem 1.5rem;
  }
}

.underlineText {
  color: #bd2025;
  font-size: .9rem;
  font-family: 'Frutiger65';
  line-height: 1rem;
  letter-spacing: 0;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;

  @media (max-width: 40em) {
    font-size: .7rem;
  }
}

.loginSubtitle {
  margin-top: 7rem;
  margin-bottom: 3rem;

  @media (max-width: 40em) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.loginInput {
  margin-bottom: 3rem;
}

.loginBtn {
  text-align: center;
  margin-top: 5rem;
}

.loginErrorMsg {
  color: #bd2025;
  font-size: 1rem;
  font-family: 'Frutiger65';
}
.linkOtp{
  color: #bd2025;
  font-size: 1rem;
  font-family: 'Frutiger65';
  line-height: 1rem;
  letter-spacing: 0;
  text-decoration: underline;
}