.registerConatiner {
  padding: 5.5rem 7.5rem;

  @media (max-width: 40em) {
    padding: 1.5rem 1.5rem;
  }
}

.underlineText {
  color: #bd2025;
  font-size: .9rem;
  font-family: 'Frutiger65';
  line-height: 1rem;
  letter-spacing: 0;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;

  @media (max-width: 40em) {
    font-size: .7rem;
  }
}


.registerSubtitle {
  margin-top: 6rem;
  margin-bottom: 3rem;

  @media (max-width: 40em) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.registerInput {
  margin-bottom: 3rem;
}

.registerBtn {
  text-align: center;
  margin-top: 5rem;
}