.content {
  width: 92%;
  margin: 0 auto;
  margin-top: -17rem;
  background-color: #fff;
  position: relative;
  min-height: 40rem;
  -webkit-box-shadow: 0px 0px 7px -1px #c2bec2;
  -moz-box-shadow: 0px 0px 7px -1px #c2bec2;
  box-shadow: 0px 0px 7px -1px #c2bec2;

  @media (max-width: 40em) {
    margin-top: -5rem;
  }
}

.banner {
  position: relative;
}

.banner .bannerImg {
  width: 100%;
  height: auto;
}

.bannerTitle {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}

.bannerTitle h1 {
  font-family: 'Frutiger65';
  font-size: 6.25rem;
  color: #fff;
  position: relative;
  line-height: 1;
  transition: all 1s ease;
  margin-top: 0;

  @media (max-width: 40em) {
    font-size: 2rem;
  }
}

.bannerTitle h1::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  right: -20px;
  top: 0;
  background: #bd2025;
}

.form-link {
  position: fixed;
  top: 50%;
  z-index: 100;
  left: 0;
  transition: all 1s ease;
}

.form-link div {
  border-top-right-radius: 29.3px;
  border-bottom-right-radius: 29.3px;
  margin-left: -4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: .9px;
  border-image-source: linear-gradient(to bottom, #540303, #bd2025);
  background-image: linear-gradient(to bottom, #540303, #bd2025), linear-gradient(to bottom, #540303, #bd2025);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.form-link .hotline a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.form-link .hotline a p {
  margin: 0;
  font-family: 'Frutiger75';
}

.white-section {
  background-color: white;
  min-height: 40rem;
}