.registerConatiner {
  padding: 5.5rem 7.5rem;

  @media (max-width: 40em) {
    padding: 1.5rem 1.5rem;
  }
}

.otpSubtitle {
  color: #bd2025;
  font-family: 'Frutiger65';
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
  margin-bottom: 4rem;

  @media (max-width: 40em) {
    font-size: .8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;

  }
  
}

.otpSubmit {
  margin-top: 5rem;
  text-align: center;
}

.otpError {
  color: #bd2025;
  font-size: 1rem;
  font-family: 'Frutiger55';
  text-align: center;
}