.footer-container {
  background: #000;
  padding: 50px;
  padding-bottom: 25px;

  @media (max-width: 40em) {
    padding: 20px 15px;
  }

  .footer-grid {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 50px;

    section {
      -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
      flex: 1 1 0px;
      width: auto;
      margin-right: .9375rem;
      margin-left: .9375rem;

      #menu-footer-menu li {
        margin: 0;

        a {
          font-family: 'Frutiger45';

          @media (max-width: 40em) {
            font-size: 14px;
            padding: 10px;
          }

        }
      }
    }


    .socialMedia {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;

      div {
        border-radius: 50%;
        background: 0 0;
        border: 2px solid #fff;
        padding: 3px;
        width: 40px;
        height: 40px;
        margin-right: 50px;

        a {
          border-radius: 50%;
          background: #fff;
          display: flex;
          height: 100%;
          color: #000;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .copyrights {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


    p {
      margin-bottom: 0;
      color: #fff;
      font-family: 'Frutiger45';
      margin: 0;

    }

    ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-self: center;
      align-items: center;
      list-style: none;
      margin: 0;
      margin-bottom: 1.25rem;

      margin-left: 1.25rem;

      li {
        padding: 5px 7px;
        color: #fff;

        a {
          line-height: inherit;
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          font-family: 'Frutiger45';

          @media (max-width: 40em) {
            font-size: 14px;
          }

        }
      }
    }

    @media (max-width: 40em) {
      flex-wrap: wrap;

      p {
        font-size: 14px;
      }
    }
  }
}

.fawry {
  @media (max-width: 1024px) {
    margin: 2rem auto;
  }
}