  .sectionTitle {
    color: #000;
    font-size: 2.6rem;
    font-family: 'Frutiger65';
    line-height: 3.8rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
    margin: 0;

    @media (max-width: 40em) {
      padding-bottom: 1rem;
      font-size: 1rem;
    }
  }

  .sectionTitle:after {
    position: absolute;
    content: '';
    height: 10px;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 6rem;
    background: #bd2025;
  }
