.submitBtn{
padding-top: 1.5rem;
padding-bottom: 1.5rem;
font-size: 1.375rem;
line-height: 1.375rem;
font-family: 'Frutiger65';
background-color: #bd2025;
color: #fff;
width: 14rem;
outline: none;
border: solid 1px #bd2025;
border-radius: 2px;
cursor: pointer;

@media (max-width: 40em) {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.375rem;
  width: 7rem;
}
}