
.menuContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    position: relative;
}
.menu li {
  margin: 0 1rem;
  font-size: 1rem;
  font-family: 'Frutiger45';
}
.menu a {
  color: #fff;
  font-family: 'Frutiger65';
  line-height: 1;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  padding: .7rem 1rem;
}
.menu a:hover {
  color: #bd2025;
}
.bottom-header-menu {
  width: 85%;
  margin: 2rem auto;
}
.sub-menu {
  display: none;
  background-color: white;
  border-radius: .5rem;
  list-style: none;
  padding: 0;
}
.sub-menu a {
  color: #000;
  padding: .7rem 0;
}
.menu li.has-child > a:after {
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #bd2025 transparent transparent;
  top: 20px;
  bottom: 0;
  left: 0;
  position: absolute;
}
#tatwer:hover{
  // #tatwer > a:after{
  //   color: #bd2025
  // }
  #tatwer-submenu{
    display: block;
  }
}
#ta2ger:hover{
  #ta2ger-submenu{
    display: block;
  }
}
#ta3mer {
  position: relative;
}
#ta3mer:hover{
  // #ta3mer > a:after {
  //   color: #bd2025
  // }
  #ta3mer-submenu{
    display: block;
  }
}

#products:hover{
  #products-submenu{
    display: block;
    position: absolute;
    left: -7rem;
    top: 0rem;
    z-index: 999;
  }
}
.menu li.has-child {
  position: relative;
}
