header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  padding: 60px 50px 0;
  box-sizing: border-box;

  .headerLogo {
    @media (max-width: 40em) {
      width: 65px;
      height: auto;
    }
  }

  .headerBtn {
    background-color: #bd2025;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Frutiger65';
    cursor: pointer;
    line-height: 1;
    color: #fff;
    padding: 16px 10px;
    display: table;
    border: 2px solid #bd2025;
    border-radius: 2px;

    @media (max-width: 40em) {
      font-size: .8rem;
      padding: .5rem;
    }
  }

  @media (max-width: 40em) {
    padding: 25px 25px 0;
  }
}

nav {
  position: relative;
  justify-content: center;
  border-bottom: 1px solid #68676a;
  align-items: flex-end;
  display: flex;
  padding: .5rem;
  background: 0 0;
  max-width: 100%;
  padding-bottom: 25px;
  
}

.menuContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.menu li {
  margin: 0 1rem;
  font-size: 1rem;
  font-family: 'Frutiger45';
}

.menu a {
  color: #fff;
  font-family: 'Frutiger65';
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: .7rem 1rem;
}

.menu a:hover {
  color: #bd2025;
}

.top-bar-right {
  position: absolute;
  left: 0;
  top: 25%;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loggedContainer {
.loggedName{
  font-size: 1rem;
  font-family: 'Frutiger65';
  cursor: pointer;
  line-height: 1;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  margin-left: 2rem;
}
.loggedName:after{
  content: '';
  position: absolute;
  left: -20%;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #e8e8e8;
  clear: both;
}
.loggedMenu {
  display: none;
  padding: 0;
  padding: .5rem;
  list-style: none;
  position: absolute;
  background-color: white;
  margin:0;
  border-radius: .5rem;

  li {
    margin: 0 .75rem;
    font-size: 1rem;
    font-family: 'Frutiger65';
    a{
      color: #000;
      text-decoration:none;
    }
  }

  li:hover {
    a{
      color: #bd2025;
      cursor: pointer;
    }
  }
}
}
.loggedContainer:hover{
  .loggedMenu{
    display: block;
  }
}