.formInput {
  border: none;
  border-bottom: solid 1.5px #696768;
  padding: 6px;
  font-size: 1.5rem;
  font-family: 'Frutiger45';
  line-height: 35.7px;
  width: 80%;
  max-width: 28rem;

  @media (max-width: 40em) {
    font-size: 1rem;
  }
}

.formInput:focus {
  outline: none;
}

.formInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #696768;
  opacity: 1;
  /* Firefox */
}

.formInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #696768;
}

.formInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #696768;
}

.errorMsg{
  color: #bd2025;
  font-size: .7rem;
  margin-top: 8px;
  font-family: 'Frutiger55';
}