.loansConatiner {
  padding: 5.5rem 0rem;

  @media (max-width: 40em) {
    padding: 1.5rem 0rem;
  }
}

.loansContainer {
  margin-top: 5rem;
  padding: 1rem 3rem;

  @media (max-width: 40em) {
    margin-top: 0rem;
    padding: 1rem 1rem;
  }
}

.loanContainer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.loansTitle {
  margin-bottom: 3rem;
}

.loanRow {
  display: flex;
  flex-direction: 'row';
  justify-content: space-between;
  align-items: center;
}

.headText {
  font-size: 1.5rem;
  line-height: 3.4rem;
  letter-spacing: 0;
  font-family: 'Frutiger75';
  text-align: right;

  @media (max-width: 40em) {
    font-size: 1rem;
  }
}

.showBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.showBtn {
  height: 4.6rem;
  width: 4.6rem;
  border: solid 2px #bd2025;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 40em) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.icon {
  height: 1rem;
  width: 1rem;
}

.loanDetails {
  background-color: #efefef;
}

.detailsText {
  max-width: 40%;
  font-size: 1.25rem;
  line-height: 3.4rem;
  letter-spacing: 0;
  font-family: 'Frutiger65';

  @media (max-width: 40em) {
    font-size: .8rem;
    line-height: normal;
  }
}

.black {
  color: #000;
}

.red {
  color: #bd2025;
}

th {
  padding: 2rem 0;

  @media (max-width: 40em) {
    padding: .5rem 0;
  }
}

.noLoans {
  font-size: 1.5rem;
  line-height: 3.4rem;
  letter-spacing: 0;
  font-family: 'Frutiger65';
  text-align: center;
}
